body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../fotos/animals-1846546_1280.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ajuste para min-height para melhor suporte responsivo */
    color: white;
    text-align: center; /* Centraliza o texto por padrão para dispositivos móveis */
    flex-direction: column; /* Flexbox em coluna para dispositivos móveis */
}

/* Botões */
.btn-home {
    background-color: rgb(226, 43, 217); /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none; /* Sem borda */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 1em; /* Ajuste para tamanho da fonte */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efeito 3D */
    margin: 20px;
    text-decoration: none; /* Remove underline */
}

.btn-home:hover, .btn-next:hover {
    background-color: #6b00b3; /* Cor de fundo ao passar o mouse */
    transform: translateY(-2px); /* Efeito de elevação ao passar o mouse */
}

.btn-home:active, .btn-next:active {
    transform: translateY(1px); /* Efeito de clique */
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1); /* Sombra reduzida ao clicar */
}

.container {
    background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    padding: 1rem; /* Menor padding para dispositivos móveis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    width: 90%; /* Largura flexível para dispositivos móveis */
    max-width: 600px;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    color: #fff;
}

p {
    margin-bottom: 1.5rem;
    color: #ddd;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem;
    color: #ddd;
}

.contact-info li {
    margin-bottom: 0.5rem;
}

a {
    color: #1E90FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para telas maiores */
@media (min-width: 768px) {
    body {
        flex-direction: row; /* Flexbox em linha para telas maiores */
    }

    .container {
        padding: 2rem; /* Aumenta o padding para telas maiores */
    }
}
